.LogoutButton {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid var(--alertButton);
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--mainBackgroundColor);
  color: var(--defaultTextColor);
  font-size: 1em;
  transition: var(--transitionDefault);
}

.LogoutButton:hover {
  background-color: var(--alertButton);
  color: var(--mainBackgroundColor);
}
